body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}
h2,label,p{
  color: #f0f0f0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
  padding: 10px;
  text-align: center;
  background-color: #f4f4f4;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #e4f1ff;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
li p{
  color: black;
}
li img {
  max-width: 80px;
  border-radius: 20px;
}
li:hover {
  background-color: #f0f0f0;
}
.hidden {
  display: none;
}
form {
  margin-bottom: 20px;
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 10px;
}
.hidden{
  display: none;
}
#search-bar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px auto;
}
#deputado-detalhes{
  width: 60%;
  height: 60vh;
  background-color: #007BFF;
  position: fixed;
  top: 20vh;
  left: 20%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  display: none;
  border-radius: 20px;
}
#deputado-detalhes .all_dados{
  height: 60vh;
}
#deputado-detalhes #fechar_dados_reais{
  position: fixed;
  top: 18vh;
  right: 17%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#deputado-detalhes #fechar_dados_reais P{
  font-size: larger;
  font-weight: 500;
}
#deputado-detalhes .all_dados #cep-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
#deputado-detalhes .all_dados #cep-form label{
  font-size: larger;
  font-weight: 500;
}
#deputado-detalhes .all_dados #cep-form button{
  background-color: #004c9c;
  cursor: pointer;
}
#deputado-detalhes .all_dados #cep-form input{
  width: 180px;
  height: 20px;
  border-radius: 3px;
  border: #ccc 0.5px solid;

}
#deputado-detalhes .all_dados img{
  width: 150px;
  border-radius: 10px;
}
#deputado-detalhes #cep-details{
  /* background-color: rgb(255, 0, 0); */
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 20vh;
  left: 50%;
}
#deputado-detalhes #cep-details .botoes{
  position: absolute;
  right: 0px;
  bottom: 10px;
  display: flex;
  align-items: end;
  gap: 10px;
}
#deputado-detalhes #cep-details .botoes #salvar{
  height: 50px;
  background-color: #0eac00;
}
#deputado-detalhes #cep-details .botoes #ver_mapa{
  height: 30px;
  background-color: #00aca4;
}
#deputado-detalhes #cep-details .mapa{
  width: 200px;
  height: 200px;
}
#deputado-detalhes #cep-details #map{
  width: 70%;
  height: 150px;
}

@media (max-width: 1030px) {
  #deputado-detalhes{
    width: 70%;
    left: 15%;
  }
  #deputado-detalhes .all_dados .dados_reais p{
    font-size: 14px;
    margin-top: -0px;
  }
  #deputado-detalhes #cep-details .botoes{
    right: -60px;
  }
  #deputado-detalhes #fechar_dados_reais{
    right: 12%;
  }
}

@media (max-width: 946px) {
  #deputado-detalhes{
    width: 85%;
    left: 7.5%;
   }
  #deputado-detalhes #cep-details .dados_cep p{
    font-size: 14px;
  }
  #deputado-detalhes #cep-details .botoes{
    right: -60px;
  } 
  #deputado-detalhes #fechar_dados_reais{
    right: 3.5%;
  }
}

@media (max-width: 764px) {
  #deputado-detalhes{
    width: 85%;
    left: 7.5%;
    height: 70vh;
  }
  #deputado-detalhes #cep-details .dados_cep p{
    font-size: 14px;
  }
  #deputado-detalhes #cep-details .botoes{
    right: -00px;
    bottom: -60px;
  } 
  #deputado-detalhes #cep-details{
    left: 63%;
  }
}
@media (max-width: 580px) {
  #deputado-detalhes .all_dados{
    width: 45%;
  }
  #deputado-detalhes #cep-details #map{
    height: 100px;
    left: 10px;
  }
  #deputado-detalhes .all_dados #cep-form input{
    width: 100px;
  }
}